@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-color{
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(90deg, #F87516 5%, #5E11FF 40%);
}

.text{
    font-family: sans-serif;
}

.gradient{
    background: rgb(94,17,255);
background: linear-gradient(90deg, rgba(94,17,255,1) 45%, rgba(233,108,42,1) 94%);
}

.gradient2{
    background-color: transparent;
    background-image: linear-gradient(180deg, #0D061F 0%, #251E35 100%);
}

.gradient3{
    background: rgb(94,17,255);
background: linear-gradient(90deg, rgba(233,108,42,1) 25%, rgba(94,17,255,1) 74%);
}


  

  

  
  
  
  